<!DOCTYPE html>
<html>
<head>
    <title>Commandes</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Les commandes</h1>
<ul>
    <% commandes.forEach(function(com){ %>
    <li>
        <h2><%= com.acheteur %></h2>
        <p><%= com.nbRepas %></p>
        <p><%= com.nomRepas %></p>
        <p><%= com.date %></p>
        <p><%= com.prixTotal %></p>
    </li>
    <% }); %>
</ul>
</body>
</html>