<form action="">
    <label>Acheteur : </label>
    <input class="form-control" value="<%= acheteur %>" name="acheteur" type="text">

    <label>Nombre de repas : </label>
    <input class="form-control" value="<%= nbRepas %>" name="nbRepas" type="number">

    <label>Nom repas : </label>
    <input class="form-control" value="<%= nomRepas %>" name="nomRepas" type="text">

    <label>Date : </label>
    <input class="form-control" value="<%= date %>" name="date" type="date">

    <label>Prix total : </label>
    <input class="form-control" value="<%= prixTotal %>" name="prixTotal" type="number">

    <input type="Submit" value="Submit">
</form>